<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Require meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Sheets Styles -->
    <link 
        rel="stylesheet" 
        href="{{url_for('static', filename='bootstrap.min.css')}}"
    >
    <link 
        rel="stylesheet" 
        href="{{url_for('static', filename='manhattan.style.css')}}"
    >

    <title>Manhattan Proyect</title>
</head>
<body id="wallpaper-page">
    {% block content %}{% endblock %}
</body>
</html>
