{% extends 'index.html' %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <div class="card-title">
                <h2>Upload File</h2>
            </div>
            <form action="" method="post" enctype="multipart/form-data">
                <div class="input-group mb-3">
                    <input name="file" type="file" class="form-control">
                    <input type="submit" class="btn btn-outline-secondary" value="Upload">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
